<ul class="list-inline">
<li><a class="btn btn-primary" href="<%= users_path %>">Back</a></li>
<li><%= button_to 'Delete',
            user_path(@user.id),
            method: :delete,
            class: 'btn btn-danger' %></li>
</ul>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="bg-info">Name</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td class="bg-info">Email</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td class="bg-info">Password</td>
      <td><%= @user.password_digest %></td>
    </tr>
    <tr>
      <td class="bg-info">Is Admin</td>
      <td><%= @user.is_admin %></td>
    </tr>
  </tbody>
</table>